.Button {
    min-width: 90px;
    padding: 0 !important;
    height: 30px;
    border-radius: 8px;
    font-family: IRSansBold;
    font-size: 12px !important;
    line-height: 20px;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}